<!-- ↓ パネル開閉ボタン ↓ -->
<div class="mt-8 mb-4">
  <app-button (click)="searchButtonOnClick()">
    <app-icon class="w-6" icon="filter-2-line"></app-icon>
    <span class="inline-block ml-1 mr-2">
      {{ isOpen ? '絞り込みフォーム非表示' : '絞り込みフォーム表示' }}
    </span>
    <app-icon class="w-6" [class]="rotateAnimation" icon="arrow-down-s-fill">
    </app-icon>
  </app-button>
</div>

<!-- ↓ フォーム部分 ↓ -->
<div
  class="search width-limit-break bg-white"
  [ngClass]="isOpen ? 'is-open shadow' : ''">
  <form class="w-[1280px] mx-auto px-4">
    <div class="flex gap-6">
      <app-select-clear-container
        class="w-1/2"
        [formCtrl]="ctrls.store_cd"
        [options]="options.stores">
        店舗
      </app-select-clear-container>
      <app-text-clear-container [formCtrl]="ctrls.terminal_cd">
        端末番号
        <ng-container
          *ngTemplateOutlet="errors; context: { ctrl: ctrls.terminal_cd }"
          message>
        </ng-container>
      </app-text-clear-container>
    </div>
    <div class="flex gap-6 mt-6">
      <app-date-term-clear-container
        [dateFromFormCtrl]="date_ctrls.sale_date.controls.from"
        [dateToFormCtrl]="date_ctrls.sale_date.controls.to"
        [invalid]="!!date_ctrls.sale_date.errors">
        <span>売上年月日</span>
        <ng-container
          *ngIf="date_ctrls.sale_date.errors?.['beforeFromDate'] then beforeFromDate"
          message></ng-container>
      </app-date-term-clear-container>
      <app-select-clear-container
        [formCtrl]="ctrls.sales_slip_division_cd"
        [options]="options.sales_slip_division">
        伝票種別
      </app-select-clear-container>
      <app-select-clear-container
        [formCtrl]="ctrls.payment_division_cd"
        [options]="options.payment_division">
        支払区分
      </app-select-clear-container>
    </div>
    <div class="flex gap-6 mt-6">
      <app-select-suggest-container
        class="w-1/3"
        nameAttrValue="client_cd"
        idAttrValue="client-name-1"
        placeholder="選択してください"
        [formCtrl]="ctrls.client_cd"
        [suggests]="clientSuggests"
        [invalid]="formControlStateManager(ctrls.client_cd)">
        <ng-container
          *ngTemplateOutlet="
            labels;
            context: { label: '得意先名', required: 'false' }
          "></ng-container>
        <ng-container
          *ngTemplateOutlet="errors; context: { ctrl: ctrls.client_cd }"
          message></ng-container>
      </app-select-suggest-container>
      <div class="w-1/2">
        <app-real-time-suggest-container
          nameAttrValue="billing_cd"
          idAttrValue="billing-cd"
          [idCtrl]="ctrls.billing_cd"
          [nameCtrl]="ctrls.billing_cd"
          [apiInput]="getBillingCdSuggests()"
          [invalid]="formControlStateManager(ctrls.billing_cd)">
          <ng-container
            *ngTemplateOutlet="
              labels;
              context: { label: '請求先コード', required: false }
            "></ng-container>
          <ng-container
            *ngTemplateOutlet="errors; context: { ctrl: ctrls.billing_cd }"
            message></ng-container>
        </app-real-time-suggest-container>
      </div>
    </div>
    <div class="flex gap-6 mt-6">
      <div class="w-1/3">
        <app-real-time-suggest-container
          nameAttrValue="member_cd"
          idAttrValue="member-cd"
          [idCtrl]="memberFc.member_cd"
          [nameCtrl]="memberFc.member_cd"
          [apiInput]="getMemberCdSuggests()"
          [invalid]="formControlStateManager(memberFc.member_cd)"
          (selectedData)="handleSelectedMemberCdData($event)">
          <ng-container
            *ngTemplateOutlet="
              labels;
              context: { label: '会員番号で会員情報を検索', required: false }
            "></ng-container>
          <ng-container
            *ngTemplateOutlet="errors; context: { ctrl: memberFc.member_id }"
            message></ng-container>
        </app-real-time-suggest-container>
      </div>
      <div class="w-1/3">
        <app-real-time-suggest-container
          nameAttrValue="member_name"
          idAttrValue="member-name"
          [idCtrl]="memberFc.member_id"
          [nameCtrl]="memberFc.member_name"
          [apiInput]="getMemberNameSuggests()"
          [invalid]="formControlStateManager(memberFc.member_name)"
          (selectedData)="handleSelectedMemberNameData($event)"
          #memberNameInput>
          <ng-container
            *ngTemplateOutlet="
              labels;
              context: { label: '会員名で会員情報を検索', required: false }
            "></ng-container>
          <ng-container
            *ngTemplateOutlet="errors; context: { ctrl: memberFc.member_cd }"
            message></ng-container>
        </app-real-time-suggest-container>
      </div>
    </div>

    <!-- ↓ 実行ボタン ↓ -->
    <div class="flex gap-8 mt-10">
      <app-button (click)="onClickReset()">入力内容クリア</app-button>
      <app-button
        btnFillColor="text-white bg-success hover:bg-success-hover"
        [buttonDisabled]="form.invalid"
        (click)="onClickSubmit()">
        絞り込み実行
      </app-button>
    </div>
    <p class="mt-2 text-sm text-red">
      ※
      入力内容をクリアした後に絞り込み実行ボタンをクリックすることで全てのデータを取得できます。
    </p>
  </form>
</div>

<!-- ↓ エラーメッセージのテンプレート ↓ -->
<ng-template #errors let-ctrl="ctrl">
  <ng-container *ngIf="invalid(ctrl)">
    <p class="text-sm text-red" *ngIf="ctrl.errors?.['minlength']">
      {{ errorConst.FORM_ERROR.EXCEEDED_CHARACTER_MIN_LIMIT }}
    </p>
    <p
      class="text-sm text-red"
      *ngIf="ctrl.errors?.['pattern']?.requiredPattern === regExConst.NUMERIC_REG_EX + ''">
      {{ errorConst.FORM_ERROR.NUMERIC_LIMIT_VIOLATION }}
    </p>
  </ng-container>
</ng-template>

<!-- ↓ app-text-container に渡すコンテンツのテンプレート ↓ -->
<ng-template #labels let-label="label" let-required="required">
  <div class="flex items-center gap-2">
    <span>{{ label }}</span>
  </div>
</ng-template>
<!-- エラーメッセージテンプレート -->
<ng-template #beforeFromDate>
  <p class="mt-1 pl-1 text-sm text-red">
    {{ errorConst.FORM_ERROR.DATE_TERM_TO_BEFORE_FROM }}
  </p>
</ng-template>
