<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/inventory-control/inventory', text: '棚卸一覧' },
    { path: listPagePath, text: listPageName },
    { text: '棚卸詳細' }
  ]"></app-breadcrumb-org>
<main>
  <h1 class="mt-8 text-xl">棚卸詳細</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-6">
      <app-back-to-link-org path="{{ listPagePath }}"
        >一覧へ戻る</app-back-to-link-org
      >
    </div>
    <div>
      <app-last-updater-org>
        最終更新者：{{ lastUpdaterName ? lastUpdaterName : 'データ取得中...' }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <div
    *ngIf="!common.loading && inventory"
    class="mt-8 py-8 px-6 bg-white shadow border border-gray-300">
    <h2 class="text-lg">棚卸詳細</h2>
    <hr class="border-t-primary-light-hover border-t-4" />
    <div class="mt-6 flex flex-row gap-10">
      <div class="grow">
        <ul
          class="border-t border-r border-l border-t-gray-200 border-r-gray-200 border-l-gray-200 shadow">
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">
              棚卸管理コード
            </div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.management_cd }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">棚卸ID</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.id }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">商品</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              ID：{{ inventory.product_id }}　名称：{{ inventory.product_name }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">
              月次理論在庫数
            </div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.stock_quantity }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">棚卸在庫数</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.inventory_stock_quantity }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">差異数量</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.difference_quantity }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">棚卸実行日</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.inventory_execution_date | date : 'yyyy/MM/dd' }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">棚卸完了日</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.inventory_complete_date | date : 'yyyy/MM/dd' }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">登録日時</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.created_at | date : 'yyyy/MM/dd HH:mm:ss' }}
            </div>
          </li>
          <li
            class="flex flex-row items-center border-b border-b-gray-200 bg-slate-100">
            <div class="py-3 px-3 bg-slate-100 min-w-[300px]">更新日時</div>
            <div
              class="py-3 px-3 border-l border-l-gray-200 min-h-[48px] bg-white grow">
              {{ inventory.updated_at | date : 'yyyy/MM/dd HH:mm:ss' }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
