select {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%236b7280' d='M5 8 L15 8 L10 13 Z' /></svg>");
  background-repeat: no-repeat;
  background-position: right 0.25rem center;
  background-size: 1.5rem 1.5rem;
  @apply w-full border border-iron-blue-400 cursor-pointer rounded p-2 pr-8;
  @apply focus:ring-1 focus:outline-none disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-auto;
}

.invalid {
  @apply outline-none ring-1 ring-warning;
}
