<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/setting', text: '設定一覧' },
    { path: '/setting/role', text: '権限一覧' },
    { path: detailPath, text: '権限詳細' },
    { text: '権限編集' }
  ]"></app-breadcrumb-org>
<main>
  <h1 class="mt-8 text-xl">権限編集</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div (click)="handleClickCancel()" class="cursor-pointer">
      <app-cancel-link-org></app-cancel-link-org>
    </div>
    <div>
      <app-last-updater-org>
        最終更新者：{{
          last_update_user ? last_update_user : 'データ取得中...'
        }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <ng-container *ngIf="!common.loading">
    <form [formGroup]="roleEditForm" (ngSubmit)="handleClickSaveButton()">
      <div
        class="mt-8 mb-24 pt-8 pb-20 px-6 bg-white shadow border border-gray-300">
        <h2 class="text-lg">権限情報入力</h2>
        <hr class="border-t-primary-light-hover border-t-4" />
        <div class="mt-6 flex flex-row gap-10">
          <div class="grow">
            <div
              class="p-6 border-t border-r border-l border-t-gray-200 border-r-gray-200 border-l-gray-200 shadow">
              <div class="flex flex-row gap-4">
                <app-text-container
                  class="w-1/2"
                  inputType="text"
                  nameAttrValue="name"
                  idAttrValue="name"
                  [formCtrl]="roleEditForm.controls.name"
                  [invalid]="
                    formControlStateManager(roleEditForm.controls.name)
                  ">
                  <div class="flex flex-row items-center">
                    <span class="inline-block mr-2"
                      >{{ logicalNames['name'] }}（255文字以内）</span
                    >
                    <span
                      class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                      >必須</span
                    >
                  </div>
                  <div
                    class="mt-1 pl-1 text-sm"
                    *ngIf="formControlStateManager(roleEditForm.controls.name)"
                    message>
                    <ng-container
                      *ngIf="roleEditForm.controls.name.errors?.['required']"
                      [ngTemplateOutlet]="em"
                      [ngTemplateOutletContext]="requiredItem">
                    </ng-container>
                    <ng-container
                      *ngIf="roleEditForm.controls.name.errors?.['maxlength']"
                      [ngTemplateOutlet]="em"
                      [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                    </ng-container>
                  </div>
                </app-text-container>
                <app-text-container
                  class="w-1/2"
                  inputType="text"
                  nameAttrValue="description"
                  idAttrValue="description"
                  [formCtrl]="roleEditForm.controls.description"
                  [invalid]="
                    formControlStateManager(roleEditForm.controls.description)
                  ">
                  <div class="flex flex-row items-center">
                    <span class="inline-block mr-2"
                      >{{ logicalNames['description'] }}（255文字以内）</span
                    >
                  </div>
                  <div
                    class="mt-1 pl-1 text-sm"
                    *ngIf="
                      formControlStateManager(roleEditForm.controls.description)
                    "
                    message>
                    <ng-container
                      *ngIf="roleEditForm.controls.description.errors?.['maxlength']"
                      [ngTemplateOutlet]="em"
                      [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                    </ng-container>
                  </div>
                </app-text-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="width-limit-break bg-primary-light flex flex-row justify-center bottom-[40px] left-0 right-0 p-2 fixed gap-8">
        <app-button btnType="button" (click)="handleClickClearButton()"
          >クリア</app-button
        >
        <app-button
          btnType="submit"
          btnFillColor="bg-success"
          btnHoverColor="hover:bg-success-hover"
          btnTextColor="text-white"
          btnLineColor="border-success"
          [buttonDisabled]="roleEditForm.invalid || formInvalid">
          保存</app-button
        >
      </div>
    </form>
  </ng-container>
</main>
<!-- エラーメッセージテンプレート -->
<ng-template #em let-content="message">
  <p class="text-sm text-red">
    {{ content }}
  </p>
</ng-template>
