<div class="mt-8">
  <button class="w-40" routerLink="../credit" routerLinkActive="active">
    クレジット
  </button>
  <button class="w-40" routerLink="../gift1" routerLinkActive="active">
    ギフト１
  </button>
  <button class="w-40" routerLink="../gift2" routerLinkActive="active">
    ギフト２
  </button>
  <button class="w-40" routerLink="../gift3" routerLinkActive="active">
    ギフト３
  </button>
  <button class="w-40" routerLink="../gift4" routerLinkActive="active">
    ギフト４
  </button>
  <button class="w-40" routerLink="../qr" routerLinkActive="active">QR</button>
</div>
