<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/setting', text: '設定一覧' },
    { path: '/setting/custom-medium-category', text: 'カスタム中分類一覧' },
    { path: detailPath, text: 'カスタム中分類詳細' },
    { text: 'カスタム中分類編集' }
  ]"></app-breadcrumb-org>
<main class="mb-20">
  <h1 class="mt-8 text-xl">カスタム中分類編集</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div (click)="handleClickCancel()" class="cursor-pointer">
      <app-cancel-link-org></app-cancel-link-org>
    </div>
    <div>
      <app-last-updater-org>
        最終更新者：{{
          common.loading
            ? 'データ取得中...'
            : cmc.employee_updated_last_name +
              ' ' +
              cmc.employee_updated_first_name
        }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <ng-container *ngIf="!common.loading">
    <form [formGroup]="cmcEditForm" (ngSubmit)="handleClickSaveButton()">
      <div
        class="mt-8 mb-24 pt-8 pb-20 px-6 bg-white shadow border border-gray-300">
        <h2 class="text-lg">カスタム中分類名称入力</h2>
        <hr class="border-t-primary-light-hover border-t-4" />
        <div class="mt-6 flex flex-row gap-10">
          <div class="grow">
            <div
              class="p-6 border-t border-r border-l border-t-gray-200 border-r-gray-200 border-l-gray-200 shadow">
              <div class="flex flex-row gap-4">
                <app-select-container
                  class="w-1/2"
                  [formCtrl]="cmcEditForm.controls.custom_large_category_id"
                  [options]="clcOptions"
                  nameAttrValue="store_id"
                  idAttrValue="store-id"
                  [invalid]="formControlStateManager(cmcEditForm.controls.custom_large_category_id) || cmcEditForm.controls.custom_large_category_id.errors?.['notContains']">
                  <div class="flex flex-row items-center">
                    <span class="inline-block mr-2">大分類名</span>
                    <span
                      class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                      >必須</span
                    >
                  </div>
                  <div
                    class="mt-1 pl-1 text-sm"
                    *ngIf="
                      formControlStateManager(
                        cmcEditForm.controls.custom_large_category_id
                      )
                    "
                    message>
                    <ng-container
                      *ngIf="cmcEditForm.controls.custom_large_category_id.errors?.['required']"
                      [ngTemplateOutlet]="em"
                      [ngTemplateOutletContext]="requiredItem">
                    </ng-container>
                  </div>
                </app-select-container>
                <app-text-container
                  class="w-1/2"
                  inputType="text"
                  nameAttrValue="name"
                  idAttrValue="name"
                  [formCtrl]="cmcEditForm.controls.name"
                  [invalid]="
                    formControlStateManager(cmcEditForm.controls.name)
                  ">
                  <div class="flex flex-row items-center">
                    <span class="inline-block mr-2"
                      >中分類名（255文字以内）</span
                    >
                    <span
                      class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                      >必須</span
                    >
                  </div>
                  <div
                    class="mt-1 pl-1 text-sm"
                    *ngIf="formControlStateManager(cmcEditForm.controls.name)"
                    message>
                    <ng-container
                      *ngIf="cmcEditForm.controls.name.errors?.['required']"
                      [ngTemplateOutlet]="em"
                      [ngTemplateOutletContext]="requiredItem">
                    </ng-container>
                    <ng-container
                      *ngIf="cmcEditForm.controls.name.errors?.['maxlength']"
                      [ngTemplateOutlet]="em"
                      [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                    </ng-container>
                  </div>
                </app-text-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="width-limit-break bg-primary-light flex flex-row justify-center bottom-[40px] left-0 right-0 p-2 fixed gap-8">
        <app-button btnType="button" (click)="handleClickClearButton()"
          >クリア</app-button
        >
        <app-button
          btnType="submit"
          btnFillColor="bg-success"
          btnHoverColor="hover:bg-success-hover"
          btnTextColor="text-white"
          btnLineColor="border-success"
          [buttonDisabled]="
            cmcEditForm.invalid || formInvalid || cmcEditForm.pristine
          ">
          保存</app-button
        >
      </div>
    </form>
  </ng-container>
</main>
<!-- エラーメッセージテンプレート -->
<ng-template #em let-content="message">
  <p class="text-sm text-red">
    {{ content }}
  </p>
</ng-template>
