<ul class="">
  <li class="flex flex-row items-center bg-slate-100">
    <div class="py-3 px-3 border-l-gray-200 bg-slate-100 w-40 bg-white">
      請求先ID
    </div>
    <div class="py-3 px-3 border-l-gray-200 bg-slate-100 w-56 bg-white">
      請求先
    </div>
    <div class="py-3 px-3 border-l-gray-200 bg-slate-100 w-44 bg-white">
      入金区分
    </div>
    <div class="py-3 px-3 border-l-gray-200 bg-slate-100 w-44 bg-white">
      金額
    </div>
    <div class="py-3 px-3 border-l-gray-200 bg-slate-100 w-44 bg-white">
      入金予定額
    </div>
    <div
      class="py-3 px-3 border-l-gray-200 bg-slate-100 min-w-[200px] bg-white">
      備考
    </div>
  </li>
</ul>
<app-input-pair
  *ngFor="let group of formArray.controls; let i = index"
  [formGroup]="group"
  [index]="i"
  (add)="addTagForm()"
  (remove)="removeTagForm(i)"></app-input-pair>
