<!-- ↓ パネル開閉ボタン ↓ -->
<div class="mt-8 mb-4">
  <app-button (click)="searchButtonOnClick()">
    <app-icon class="w-6" icon="filter-2-line"></app-icon>
    <span class="inline-block ml-1 mr-2">
      {{ isOpen ? '絞り込みフォーム非表示' : '絞り込みフォーム表示' }}
    </span>
    <app-icon
      class="w-6"
      [class]="rotateAnimation"
      icon="arrow-down-s-fill"></app-icon>
  </app-button>
</div>

<!-- ↓ 絞り込みフォーム ↓ -->
<div
  class="search width-limit-break bg-white"
  [ngClass]="isOpen ? 'is-open shadow' : ''">
  <form class="w-[1280px] mx-auto px-4">
    <div class="flex gap-6 mb-6">
      <app-text-clear-container class="w-2/5" [formCtrl]="ctrls.management_cd">
        管理コード
      </app-text-clear-container>
      <app-select-clear-container
        [formCtrl]="ctrls.product_id"
        [options]="options.product">
        商品
      </app-select-clear-container>
      <app-text-clear-container class="w-2/5" [formCtrl]="ctrls.stock_quantity">
        在庫数量
      </app-text-clear-container>
      <!--app-text-clear-container
        class="w-2/5"
        [formCtrl]="ctrls.receiving_quantity"
        >受入数量</app-text-clear-container
      -->
    </div>
    <div class="flex gap-6 mb-10">
      <app-date-term-clear-container
        [dateFromFormCtrl]="ctrls.inventory_execution_date.controls.from"
        [dateToFormCtrl]="ctrls.inventory_execution_date.controls.to"
        [invalid]="!!ctrls.inventory_execution_date.errors">
        <span>棚卸実行日</span>
        <ng-container
          *ngIf="ctrls.inventory_execution_date.errors?.['afterToday'] then afterToday"
          message></ng-container>
        <ng-container
          *ngIf="ctrls.inventory_execution_date.errors?.['beforeFromDate'] then beforeFromDate"
          message>
        </ng-container>
      </app-date-term-clear-container>
      <app-date-term-clear-container
        [dateFromFormCtrl]="ctrls.inventory_complete_date.controls.from"
        [dateToFormCtrl]="ctrls.inventory_complete_date.controls.to"
        [invalid]="!!ctrls.inventory_complete_date.errors">
        <span>棚卸完了日</span>
        <ng-container
          *ngIf="ctrls.inventory_complete_date.errors?.['afterToday'] then afterToday"
          message></ng-container>
        <ng-container
          *ngIf="ctrls.inventory_complete_date.errors?.['beforeFromDate'] then beforeFromDate"
          message>
        </ng-container>
      </app-date-term-clear-container>
    </div>
    <div class="flex gap-6 mb-10">
      <app-date-term-clear-container
        [dateFromFormCtrl]="ctrls.created_at.controls.from"
        [dateToFormCtrl]="ctrls.created_at.controls.to"
        [invalid]="!!ctrls.created_at.errors">
        <span>登録日</span>
        <ng-container
          *ngIf="ctrls.created_at.errors?.['afterToday'] then afterToday"
          message></ng-container>
        <ng-container
          *ngIf="ctrls.created_at.errors?.['beforeFromDate'] then beforeFromDate"
          message>
        </ng-container>
      </app-date-term-clear-container>
      <app-date-term-clear-container
        [dateFromFormCtrl]="ctrls.updated_at.controls.from"
        [dateToFormCtrl]="ctrls.updated_at.controls.to"
        [invalid]="!!ctrls.updated_at.errors">
        <span>更新日</span>
        <ng-container
          *ngIf="ctrls.updated_at.errors?.['afterToday'] then afterToday"
          message></ng-container>
        <ng-container
          *ngIf="ctrls.updated_at.errors?.['beforeFromDate'] then beforeFromDate"
          message>
        </ng-container>
      </app-date-term-clear-container>
    </div>
    <div class="flex gap-8">
      <app-button (click)="onClickReset()"> 入力内容クリア </app-button>
      <app-button
        *ngIf="form.valid; else disable"
        btnFillColor="text-white bg-slate-500 hover:bg-slate-400"
        (click)="onClickSubmit()">
        絞り込み実行
      </app-button>
    </div>
    <p class="mt-2 text-sm text-red">
      ※
      入力内容をクリアした後に絞り込み実行ボタンをクリックすることで全てのデータを取得できます。
    </p>
  </form>
</div>

<!-- ↓　エラーメッセージのテンプレート ↓ -->
<ng-template #afterToday>
  <span class="text-sm text-red">
    {{ errorConst.FORM_ERROR.DATE_TERM_FROM_BEFORE_TODAY }}
  </span>
</ng-template>
<ng-template #beforeFromDate>
  <span class="text-sm text-red">
    {{ errorConst.FORM_ERROR.DATE_TERM_TO_BEFORE_FROM }}
  </span>
</ng-template>

<!-- ↓ 絞り込み実行ボタン（非活性）のテンプレート ↓ -->
<ng-template #disable>
  <app-button btnFillColor="text-white bg-slate-300 hover:bg-slate-300">
    絞り込み実行
  </app-button>
</ng-template>
