<!-- ↓ パンくずリスト ↓ -->
<app-breadcrumb-org [breadcrumbList]="[{ text: '売上伝票一覧' }]">
</app-breadcrumb-org>

<!-- ↓ 絞り込みフォーム ↓ -->
<app-search (event)="filter = $event"></app-search>

<!-- ↓ 各種ボタン ↓ -->
<div class="flex justify-between mt-4">
  <!-- ↓ スペース調整用の空 div ↓ -->
  <div></div>
  <app-export-link-org
    [apiResponse$]="export$"
    [mappings]="csvMappings"
    [fileNamePrefix]="fileNamePrefix"
    (statusChange)="onExportStatusChange($event)">
  </app-export-link-org>
</div>

<!-- ↓ テーブル ↓ -->
<app-table-with-pagination
  class="block mt-2"
  [params]="tableParams"
  (pageChange)="pages = $event">
  売上伝票一覧
</app-table-with-pagination>
