<div
  class="bg-white border-t-4 border-t-primary-light border border-slate-50 shadow">
  <div class="flex justify-between items-center px-4 py-2">
    <div>
      <app-title> 支払伝票詳細 一覧 </app-title>
    </div>
    <div *ngIf="params">
      <app-select
        [formCtrl]="frmPageLimit"
        (change)="setLimit($event)"
        [options]="pageLimits"></app-select>
    </div>
  </div>
  <!--div class="overflow-auto"-->
  <div>
    <table
      class="whitespace-nowrap border-separate border-spacing-0 w-full purchase-detail">
      <thead>
        <tr>
          <th class="min-w-[100px]">自コード</th>
          <th class="min-w-[270px]">商品名</th>
          <th class="min-w-[80px]">数量</th>
          <th class="min-w-[70px]">単位</th>
          <th class="min-w-[100px]">単価</th>
          <th class="min-w-[100px]">金額</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="params && data.length === 0">
          <tr>
            <td class="border-b border-iron-blue-300 p-4" colspan="13">
              データがありません
            </td>
          </tr>
        </ng-container>
        <ng-container *ngFor="let row of data; let odd = odd">
          <tr [ngClass]="{ 'bg-gray-100': odd }">
            <td class="sticky">
              {{ row.product_id }}
            </td>
            <td class="sticky">
              {{ row.product_name }}
            </td>
            <td class="sticky">
              {{ row.order_quantity }}
            </td>
            <td class="sticky">
              {{ row.unit_value }}
            </td>
            <td class="sticky text-right">
              {{ row.order_price ? row.order_price.toLocaleString() : '' }}
            </td>
            <td class="sticky text-right">
              {{ isDiscount ? '-' : '' }}
              {{ row.total ? row.total.toLocaleString() : '' }}
            </td>
            <!-- <td class="sticky" rowspan="2"> -->
            <!--
              <ng-container>
                <div class="cursor-pointer">
                  <app-icon-container
                    appendClassForIcon="fill-warning group-hover:fill-warning-hover"
                    icon="edit-2-line">
                  </app-icon-container>
                </div>
              </ng-container>
              <ng-container>
                <div class="cursor-pointer">
                  <app-icon-container
                    icon="delete-bin-line"
                    appendClassForIcon="cursor-pointer fill-danger group-hover:fill-danger-hover">
                  </app-icon-container>
                </div>
              </ng-container>
              -->
            <!-- </td> -->
          </tr>
        </ng-container>
      </tbody>
      <tbody *ngIf="purchaseDetailForms">
        <ng-container
          [formGroup]="purchaseDetailForms"
          *ngIf="purchaseDetailArrayControls.length > 0">
          <ng-container formArrayName="forms">
            <ng-container
              *ngFor="
                let control of purchaseDetailArrayControls;
                let i = index;
                let odd = odd
              "
              [formGroupName]="i">
              <tr [ngClass]="{ 'bg-gray-100': odd }">
                <td class="sticky">
                  {{ getViewFormControlTypeValue(control, 'product_id') }}
                </td>
                <td class="sticky p-1">
                  {{ getViewFormControlTypeValue(control, 'view_barcode') }}
                </td>
                <td class="p-1" colspan="2">
                  <ng-container
                    *ngIf="getViewFormControlTypeValue(control, 'id') !== ''">
                    {{
                      getViewFormControlTypeValue(control, 'api_product_name')
                    }}
                  </ng-container>
                  <ng-container
                    *ngIf="!getViewFormControlTypeValue(control, 'id')">
                    <app-real-time-suggest-container
                      [idCtrl]="getFormControlTypeValue(control, 'product_id')"
                      [nameCtrl]="
                        getFormControlTypeValue(control, 'api_product_name')
                      "
                      nameAttrValue="api_product_name"
                      idAttrValue="product-name"
                      [apiInput]="getProduct(control)"
                      [invalid]="
                        formControlStateManager(
                          getFormControlTypeValue(control, 'api_product_name')
                        )
                      "
                      [class]="'w-1/6'"
                      (selectedData)="
                        handleSelectedProductData(control, $event)
                      ">
                      <ng-container
                        *ngTemplateOutlet="
                          labels;
                          context: {
                            label: '品名を商品マスタから選択',
                            required: false
                          }
                        "></ng-container>
                    </app-real-time-suggest-container>
                  </ng-container>
                </td>
                <td class="sticky p-1" rowspan="2">
                  <app-text-container
                    nameAttrValue="receiving_quantity"
                    idAttrValue="receiving-quantity"
                    [textRight]="true"
                    inputType="number"
                    min="0"
                    [formCtrl]="
                      getFormControlTypeValue(control, 'receiving_quantity')
                    ">
                    <ng-container
                      *ngTemplateOutlet="
                        labels;
                        context: {
                          label: '',
                          required: false
                        }
                      "></ng-container>
                    <!--
                    <ng-container
                      *ngTemplateOutlet="
                        telAndMobileNumber;
                        context: {
                          ctrl: getFormControlTypeValue(
                            control,
                            'order_price'
                          )
                        }
                      "
                      message></ng-container>
                    -->
                  </app-text-container>
                </td>
                <td class="sticky p-1" rowspan="2">
                  <app-text-container
                    nameAttrValue="order_quantity"
                    idAttrValue="order-quantity"
                    [textRight]="true"
                    inputType="number"
                    min="0"
                    [formCtrl]="
                      getFormControlTypeValue(control, 'order_quantity')
                    "
                    (change)="changeLine(control)">
                    <ng-container
                      *ngTemplateOutlet="
                        labels;
                        context: {
                          label: '',
                          required: false
                        }
                      "></ng-container>
                    <!--
                    <ng-container
                      *ngTemplateOutlet="
                        telAndMobileNumber;
                        context: {
                          ctrl: getFormControlTypeValue(
                            control,
                            'order_price'
                          )
                        }
                      "
                      message></ng-container>
                    -->
                  </app-text-container>
                </td>
                <td class="sticky" rowspan="2">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_division_unit_value'
                    )
                  }}
                </td>
                <td class="sticky">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_regulated_stock_num'
                    )
                  }}
                </td>
                <td class="sticky">
                  {{ getViewFormControlTypeValue(control, 'view_quantity') }}
                </td>
                <td class="sticky p-1" rowspan="2">
                  <!-- 選択商品の{{ row.order_price }}-->
                  <app-text-container
                    nameAttrValue="order_price"
                    idAttrValue="order-price"
                    [textRight]="true"
                    inputType="number"
                    [formCtrl]="getFormControlTypeValue(control, 'order_price')"
                    (change)="changeLine(control)">
                    <ng-container
                      *ngTemplateOutlet="
                        labels;
                        context: {
                          label: '',
                          required: false
                        }
                      "></ng-container>
                    <!--
                    <ng-container
                      *ngTemplateOutlet="
                        telAndMobileNumber;
                        context: {
                          ctrl: getFormControlTypeValue(
                            control,
                            'order_price'
                          )
                        }
                      "
                      message></ng-container>
                    -->
                  </app-text-container>
                </td>
                <td class="sticky text-right" rowspan="2">
                  {{ isDiscount ? '-' : '' }}
                  {{
                    getViewFormControlTypeValue(control, 'string_view_total')
                  }}
                  <br />
                  {{ getViewFormControlTypeValue(control, 'is_discount') }}
                  <!-- 計算が必要の{{ row.total }}-->
                </td>
                <td class="sticky" rowspan="2">
                  <!--
                  <ng-container>
                    <div class="cursor-pointer">
                      <app-icon-container
                        appendClassForIcon="fill-warning group-hover:fill-warning-hover"
                        icon="edit-2-line">
                      </app-icon-container>
                    </div>
                  </ng-container>
                  -->
                  <ng-container>
                    <div class="cursor-pointer">
                      <app-icon-container
                        icon="delete-bin-line"
                        (click)="removeDetail(i)"
                        appendClassForIcon="cursor-pointer fill-danger group-hover:fill-danger-hover">
                      </app-icon-container>
                    </div>
                  </ng-container>
                </td>
              </tr>
              <tr [ngClass]="{ 'bg-gray-100': odd }">
                <td class="sticky">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_supplier_product_cd'
                    )
                  }}
                </td>
                <td class="sticky">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_division_shelf_value'
                    )
                  }}-
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_division_shelf_col_value'
                    )
                  }}
                </td>
                <td class="sticky">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_division_price_tag_value'
                    )
                  }}
                </td>
                <td class="sticky">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_division_seal_print_value'
                    )
                  }}
                </td>
                <td class="sticky">
                  {{
                    getViewFormControlTypeValue(
                      control,
                      'view_minimum_order_quantity'
                    )
                  }}
                </td>
                <td class="sticky">
                  <!--ばら総数 -->
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
      <tfoot *ngIf="total_cost !== 0">
        <tr>
          <td colspan="4" class="sticky border p-4"></td>
          <td class="sticky border p-4">合計</td>
          <td class="sticky border p-4 text-right">
            {{ isDiscount ? '-' : '' }}
            {{ total_cost.toLocaleString() }}
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <div *ngIf="purchaseDetailForms">
      <hr class="mt-4" />
      <div class="flex gap-6 justify-end mx-4 pb-2">
        <div class="pt-7">
          <app-button (click)="addDetail()">明細追加</app-button>
        </div>
      </div>
    </div>
    <!-- ↑ テーブル moleculesに作成しているパターンにハマらないので ↑ -->
    <div class="border-y border-t-slate-400 py-4" [class.hidden]="!loading">
      <app-spinner class="text-xs"></app-spinner>
    </div>
  </div>
  <ng-container
    *ngFor="
      let meal of meals
        | paginate
          : {
              currentPage: page,
              itemsPerPage: itemsPerPage,
              totalItems: total
            }
    "></ng-container>

  <!-- ↓ ページネーション ↓ -->
  <pagination-template
    *ngIf="params"
    class="flex items-center justify-between gap-2 px-4 py-10"
    #p="paginationApi"
    (pageChange)="updatePage($event)">
    <p class="w-1/3">
      {{ total | number }} 件中 {{ counts.start | number }} ～
      {{ counts.end | number }} 件 表示中
    </p>
    <div class="flex items-center gap-2">
      <!-- ↓ 先頭ページへボタン ↓ -->
      <app-icon
        *ngIf="!p.isFirstPage()"
        class="w-6 cursor-pointer hover:opacity-60"
        icon="skip-back-line"
        (click)="p.setCurrent(1)"></app-icon>
      <app-icon
        *ngIf="p.isFirstPage()"
        class="w-6 fill-iron-blue-400"
        icon="skip-back-line"></app-icon>

      <!-- ↓ 前へボタン ↓ -->
      <app-icon
        *ngIf="!p.isFirstPage()"
        class="w-6 rotate-180 cursor-pointer hover:opacity-60"
        icon="back-line"
        (click)="p.previous()"></app-icon>
      <app-icon
        *ngIf="p.isFirstPage()"
        class="w-6 rotate-180 fill-iron-blue-400"
        icon="back-line"></app-icon>

      <!-- ↓ ページ数表示 ↓ -->
      <div
        class="min-w-[1.75rem] rounded text-center cursor-pointer p-1"
        [ngClass]="
          p.getCurrent() === page.value
            ? 'cursor-auto bg-primary text-white'
            : 'hover:text-slate-400'
        "
        *ngFor="let page of p.pages">
        <span
          (click)="p.setCurrent(page.value)"
          *ngIf="p.getCurrent() !== page.value"
          >{{ page.label }}</span
        >
        <span *ngIf="p.getCurrent() === page.value">{{ page.label }}</span>
      </div>

      <!-- ↓ 後ろへボタン ↓ -->
      <app-icon
        *ngIf="!p.isLastPage()"
        class="w-6 cursor-pointer hover:opacity-60"
        icon="back-line"
        (click)="p.next()">
      </app-icon>
      <app-icon
        *ngIf="p.isLastPage()"
        class="w-6 fill-iron-blue-400"
        icon="back-line"></app-icon>

      <!-- ↓ 最終ページへボタン ↓ -->
      <app-icon
        *ngIf="!p.isLastPage()"
        class="w-6 cursor-pointer hover:opacity-60"
        icon="skip-forward-line"
        (click)="p.setCurrent(p.getLastPage())"></app-icon>
      <app-icon
        *ngIf="p.isLastPage()"
        class="w-6 fill-iron-blue-400"
        icon="skip-forward-line"></app-icon>
    </div>

    <!-- ↓ スペース調整用の空div ↓ -->
    <div class="w-1/3"></div>
  </pagination-template>
</div>

<!-- ↓ app-text-container に渡すコンテンツのテンプレート ↓ -->
<ng-template #labels let-label="label" let-required="required">
  <div class="flex items-center gap-2">
    <span>{{ label }}</span>
    <span
      *ngIf="required"
      class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
      >必須</span
    >
  </div>
</ng-template>
