<!-- ↓ 絞り込みフォーム ↓ -->
<app-search (event)="filter = $event"></app-search>

<!-- ↓ 各種ボタン ↓ -->
<div class="flex justify-end gap-8 mt-4">
  <app-new-registration-link-org routerLink="./add">
  </app-new-registration-link-org>
  <app-bulk-registration-link-org routerLink="./bulk-add">
  </app-bulk-registration-link-org>
  <app-export-link-org
    [apiResponse$]="export$"
    [mappings]="csvMappings"
    [fileNamePrefix]="fileNamePrefix"
    (statusChange)="onExportStatusChange($event)">
  </app-export-link-org>
</div>

<!-- ↓ テーブル ↓ -->
<app-table-with-pagination
  class="block mt-2"
  [params]="tableParams"
  (pageChange)="pages = $event">
  特売一覧
</app-table-with-pagination>
