<!-- ↓ パンくずリスト ↓ -->
<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/inventory-control', text: '在庫一覧' },
    { text: '在庫詳細' }
  ]">
</app-breadcrumb-org>

<main>
  <!-- ↓ ヘッダ・メニュー部 ↓ -->
  <h1 class="mt-8 text-xl">在庫詳細</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-6">
      <app-back-to-link-org path="/inventory-control"
        >一覧へ戻る</app-back-to-link-org
      >
    </div>
  </div>

  <hr class="width-limit-break border-t border-gray-400" />

  <!-- ↓ 在庫情報 ↓ -->
  <div class="mt-8 py-8 px-6 bg-white shadow border border-gray-300">
    <hr class="border-t-primary-light-hover border-t-4 mb-2" />
    <p class="text-2xl">
      月次理論在庫：{{ stock.quantity ? (stock.quantity | number) : '-' }}
    </p>

    <!-- ↓ ロゴ画像 ↓ -->
    <div class="mt-6 flex flex-row gap-10">
      <!-- ↓ リスト部分 ↓ -->
      <div class="grow">
        <ul class="border-t border-y border-gray-200 shadow">
          <li
            class="flex flex-row items-center border-b border-b-gray-200"
            *ngFor="let item of listItems">
            <div class="px-4 py-3 bg-slate-100 min-w-[200px]">
              {{ item.name }}
            </div>
            <div class="px-4 py-3 border-l border-l-gray-200 grow">
              {{ item.value }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
