<app-text-container
  class="w-40"
  [formCtrl]="ctrls.payment_supplier_id"
  idAttrValue="deposit-detail-{{ index }}-payment_supplier_id">
</app-text-container>
<app-select-suggest-container
  class="w-48"
  nameAttrValue="payment_supplier_id"
  idAttrValue="payment-supplier-id"
  placeholder="選択してください"
  [formCtrl]="ctrls.payment_supplier_id"
  [suggests]="supplierSuggests">
</app-select-suggest-container>
<app-select-clear-container
  class="w-40"
  [formCtrl]="ctrls.payment_type_division_code"
  idAttrValue="payment-type-division-code"
  nameAttrValue="payment_type_division_code"
  [options]="paymentClassficationOption"
  labelSize="sm">
</app-select-clear-container>
<app-text-container
  class="w-40"
  [textRight]="true"
  [formCtrl]="ctrls.payment_amount"
  inputType="number"
  idAttrValue="deposit-detail-{{ index }}-payment_amount">
</app-text-container>
<span class="w-40 text-right">{{ ctrls.scheduled_payment_amount.value }}</span>
<!--app-text-container
  class="w-40"
  inputType="number"
  [textRight]="true"
  [formCtrl]="ctrls.estimated_payment_amount"
  idAttrValue="deposit-detail-{{ index }}-estimated_payment_amount">
</app-text-container-->
<app-text-container
  class="w-52"
  [formCtrl]="ctrls.remarks_1"
  idAttrValue="deposit-detail-{{ index }}-remarks">
</app-text-container>
<!-- ↓ 追加・削除ボタン ↓ -->
<div class="flex items-center gap-4">
  <app-icon icon="add-line" class="cursor-pointer w-6" (click)="add.emit()">
  </app-icon>
  <app-icon
    *ngIf="index; else falseContent"
    icon="delete-bin-line"
    class="cursor-pointer w-6 fill-red-500"
    (click)="remove.emit(index)">
  </app-icon>
  <ng-template #falseContent>
    <div class="w-6 width:24px;">　</div>
  </ng-template>
</div>
