<!-- ↓ タイトル部（更新） ↓ -->
<h2 class="mt-8 text-xl">{{ title }}</h2>
<div class="flex items-center justify-between mt-6 mb-2">
  <div (click)="handleClickCancel()" class="cursor-pointer">
    <app-cancel-link-org></app-cancel-link-org>
  </div>
  <app-last-updater-org>
    {{ (id ? '最終更新者：' : '登録者：') + (editor ?? 'データ取得中...') }}
  </app-last-updater-org>
</div>

<hr class="width-limit-break border-t border-gray-400" />

<!-- ↓ フォーム ↓ -->
<div class="mt-8 mb-24 pt-8 pb-20 px-6 bg-white shadow border border-gray-300">
  <!-- ↓ ヘッダ部 ↓ -->
  <h2 class="text-lg">特売情報入力</h2>
  <hr class="border-t-primary-light-hover border-t-4" />

  <!-- ↓ 入力部 ↓ -->
  <form class="p-6 mt-6 border border-b-0 border-gray-200 shadow">
    <div class="flex gap-4">
      <app-text-container class="w-1/4" [formCtrl]="ctrls.special_sale_cd">
        <ng-container
          *ngTemplateOutlet="
            labels;
            context: { label: '特売コード（半角数字）', required: 'true' }
          ">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="errors; context: { ctrl: ctrls.special_sale_cd }"
          message>
        </ng-container>
      </app-text-container>
      <app-select-container
        class="w-1/2"
        [formCtrl]="ctrls.store_id"
        [options]="options.store">
        <ng-container
          *ngTemplateOutlet="
            labels;
            context: { label: '対象店舗', required: 'true' }
          ">
        </ng-container>
        <ng-container
          *ngTemplateOutlet="errors; context: { ctrl: ctrls.store_id }"
          message>
        </ng-container>
      </app-select-container>
    </div>

    <div class="flex gap-6 mt-4">
      <!-- ↓ 対象商品 ↓ -->
      <div class="w-1/2">
        <app-real-time-suggest-container
          nameAttrValue="product_name"
          idAttrValue="product-name"
          [idCtrl]="ctrls.product_id"
          [nameCtrl]="ctrls.product_name"
          [apiInput]="getSuggests()"
          [invalid]="invalid(ctrls.product_name)"
          (selectedData)="handleSelectedRecord($event)">
          <ng-container
            *ngTemplateOutlet="
              labels;
              context: { label: '商品名', required: 'true' }
            ">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="errors; context: { ctrl: ctrls.product_name }"
            message>
          </ng-container>
        </app-real-time-suggest-container>
        <p class="pl-1 mt-4">商品情報</p>
        <div class="border rounded p-2 mt-1">
          <p *ngIf="!product" class="text-slate-400">
            ※ 該当する商品がありません
          </p>
          <app-product-data [product]="product"></app-product-data>
        </div>
      </div>

      <!-- ↓ バーコード・価格・期間 ↓ -->
      <div class="grow flex flex-col gap-4">
        <app-text-container [formCtrl]="ctrls.barcode">
          <ng-container
            *ngTemplateOutlet="
              labels;
              context: {
                label: 'バーコード（半角数字13桁以内）',
                required: 'true'
              }
            ">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="errors; context: { ctrl: ctrls.barcode }"
            message>
          </ng-container>
        </app-text-container>
        <app-text-container [formCtrl]="ctrls.gyo_cd">
          <ng-container
            *ngTemplateOutlet="
              labels;
              context: { label: '行番号（半角数字）', required: 'true' }
            ">
          </ng-container>
          <ng-container
            *ngTemplateOutlet="errors; context: { ctrl: ctrls.gyo_cd }"
            message>
          </ng-container>
        </app-text-container>

        <div class="flex gap-4">
          <app-text-container
            class="w-1/2"
            [formCtrl]="ctrls.special_sale_price">
            <ng-container
              *ngTemplateOutlet="
                labels;
                context: { label: '特売価格', required: 'true' }
              ">
            </ng-container>
            <ng-container
              *ngTemplateOutlet="
                errors;
                context: { ctrl: ctrls.special_sale_price }
              "
              message>
            </ng-container>
          </app-text-container>
          <app-text-container
            class="w-1/2"
            [formCtrl]="ctrls.special_sale_const_price">
            <ng-container
              *ngTemplateOutlet="
                labels;
                context: { label: '特売原価', required: 'true' }
              ">
            </ng-container>
            <ng-container
              *ngTemplateOutlet="
                errors;
                context: { ctrl: ctrls.special_sale_const_price }
              "
              message>
            </ng-container>
          </app-text-container>
        </div>

        <div class="flex gap-4">
          <app-date-term class="w-1/2" [formCtrl]="ctrls.start_date">
            <ng-container
              *ngTemplateOutlet="
                labels;
                context: { label: 'セール開始日', required: 'true' }
              ">
            </ng-container>
            <ng-container
              *ngTemplateOutlet="errors; context: { ctrl: ctrls.start_date }"
              message>
            </ng-container>
          </app-date-term>
          <app-date-term class="w-1/2" [formCtrl]="ctrls.end_date">
            <ng-container
              *ngTemplateOutlet="
                labels;
                context: { label: 'セール終了日', required: 'true' }
              ">
            </ng-container>
            <ng-container
              *ngTemplateOutlet="errors; context: { ctrl: ctrls.end_date }"
              message>
            </ng-container>
            <!-- ↓ グループでのエラーメッセージ ↓ -->
            <ng-container
              *ngTemplateOutlet="errors; context: { ctrl: form }"
              message>
            </ng-container>
          </app-date-term>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- ↓ ボタン ↓ -->
<div
  class="width-limit-break bg-primary-light flex flex-row justify-center bottom-[40px] fixed left-0 right-0 p-2 gap-8">
  <app-button (click)="form.reset()"> クリア </app-button>
  <app-button
    btnFillColor="bg-success hover:bg-success-hover text-white border-success"
    [buttonDisabled]="form.invalid"
    (click)="onClickSave()">
    保存
  </app-button>
</div>

<!-- ↓ app-text-container に渡すコンテンツのテンプレート ↓ -->
<ng-template #labels let-label="label" let-required="required">
  <div class="flex items-center gap-2">
    <span>{{ label }}</span>
    <span
      *ngIf="required"
      class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full">
      必須
    </span>
  </div>
</ng-template>

<!-- ↓ エラーメッセージのテンプレート ↓ -->
<ng-template #errors let-ctrl="ctrl">
  <ng-container *ngIf="invalid(ctrl)">
    <p class="text-sm text-red" *ngIf="ctrl.errors?.['required']">
      {{ errorConst.FORM_ERROR.REQUIRED_ITEM }}
    </p>
    <p class="text-sm text-red" *ngIf="ctrl.errors?.['maxlength']">
      {{ errorConst.FORM_ERROR.EXCEEDED_CHARACTER_MAX_LIMIT }}
    </p>
    <p
      class="text-sm text-red"
      *ngIf="ctrl.errors?.['pattern']?.requiredPattern === regExConst.NUMERIC_REG_EX + ''">
      {{ errorConst.FORM_ERROR.NUMERIC_LIMIT_VIOLATION }}
    </p>
    <p class="text-sm text-red" *ngIf="ctrl.errors?.['beforeFromDate']">
      {{ errorConst.FORM_ERROR.DATE_TERM_TO_BEFORE_FROM }}
    </p>
  </ng-container>
</ng-template>
