<!-- ↓ パンくず ↓ -->
<app-breadcrumb-org
  [breadcrumbList]="[{ text: '客注受付票一覧' }]"></app-breadcrumb-org>

<!-- ↓ 絞り込みフォーム ↓ -->
<app-search
  (searchEvent)="parentSearchEvent.next($event)"
  (errorEvent)="handleError($event)"></app-search>
<main>
  <!-- ↓ ボタン類 ↓ -->
  <div class="flex items-center justify-end my-2">
    <div class="mr-8">
      <app-new-registration-link-org
        path="/customer-order-reception-slip/add"></app-new-registration-link-org>
    </div>
  </div>

  <!-- ↓ テーブル ↓ -->
  <div>
    <app-table
      [eventListener]="parentTableEvent"
      (errorEvent)="handleError($event)"></app-table>
  </div>
</main>
