<!-- ↓ ラベル ↓ -->
<app-label [for]="timestamp" [required]="required">
  <ng-content></ng-content>
</app-label>

<!-- ↓ アップロードボタン ↓ -->
<button
  class="bg-iron-blue-400 rounded text-center shadow-md px-8 py-2 hover:bg-iron-blue-300"
  [ngClass]="{ 'bg-warning hover:bg-warning-hover': invalid() }"
  (click)="input.click()"
  type="button">
  {{ buttonText }}
</button>
<input
  type="file"
  class="hidden"
  [accept]="accept"
  (change)="onChange($event)"
  #input />

<!-- ↓ エラーメッセージ ↓ -->
<app-error-messages
  class="block mt-2"
  *ngIf="invalid()"
  [errors]="fileCtrl.errors"></app-error-messages>

<!-- ↓ プレビュー画像 ↓ -->
<img
  [src]="
    imageUrl ?? (fileCtrl.value ? fileCtrl.value : 'assets/images/no_image.png')
  "
  alt="画像プレビュー"
  class="mt-4 max-h-64 border border-gray-200 shadow rounded-md" />

<!-- ↓ ファイル名と削除ボタン ↓ -->
<div class="flex mt-3" *ngIf="imageUrl">
  <p>{{ filename }}</p>
  <app-icon
    class="w-6 cursor-pointer ml-2 fill-red-500"
    icon="delete-bin-line"
    (click)="deleteImage()">
  </app-icon>
</div>
