<!-- ↓ 詳細画面のテンプレート ↓ -->
<app-template-detail [remove$]="remove$">
  <!-- ↓ ページタイトル ↓ -->
  <ng-container pageTitle>商品詳細</ng-container>
  <!-- ↓ 最終更新者 ↓ -->
  <ng-container updater>{{ updater }}</ng-container>
  <!-- ↓ 詳細情報見出し ↓ -->
  <div detailTitle>{{ title }}</div>
  <!-- ↓ 詳細情報 ↓ -->
  <div detailContent class="mt-2 flex gap-6">
    <img [src]="logo" alt="ロゴ画像" class="w-[240px] self-start" />
    <div class="grow">
      <app-detail-list [details]="details"></app-detail-list>
      <app-detail-list class="mt-6 block" [details]="tags"></app-detail-list>
    </div>
  </div>
</app-template-detail>
