<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/employee/list', text: '社員一覧' },
    { text: '社員新規登録' }
  ]"></app-breadcrumb-org>
<main>
  <h1 class="mt-8 text-xl">社員情報新規登録</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div (click)="handleClickCancel()" class="cursor-pointer">
      <app-cancel-link-org></app-cancel-link-org>
    </div>
    <div>
      <app-last-updater-org
        [roleTypeName]="
          author && author.role_name ? author.role_name : 'データ取得中...'
        ">
        登録者：{{
          author
            ? author.last_name + ' ' + author.first_name
            : 'データ取得中...'
        }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <form [formGroup]="employeeAddForm" (ngSubmit)="handleClickSaveButton()">
    <div
      class="mt-8 mb-24 pt-8 pb-20 px-6 bg-white shadow border border-gray-300">
      <h2 class="text-lg">社員情報入力</h2>
      <hr class="border-t-primary-light-hover border-t-4" />
      <div class="mt-6 flex flex-row gap-10">
        <div class="max-w-[300px] w-[300px]">
          <div class="px-2 pb-2">
            <p class="text-sm">
              ※ 画像のファイルサイズは最大{{ maxFileSizeForDisplay }}Mバイト
            </p>
            <app-file
              [formCtrl]="employeeAddForm.controls.image"
              text="プロフィール画像選択"
              accept="image/png, image/jpeg">
            </app-file>
            <div
              class="mt-2 text-sm text-danger"
              *ngIf="employeeAddForm.controls.image.invalid; else correctImage">
              <ng-container
                *ngIf="employeeAddForm.controls.image.errors?.['limitFileSize']"
                [ngTemplateOutlet]="em"
                [ngTemplateOutletContext]="exceededFileSizeLimit">
              </ng-container>
            </div>
            <ng-template #correctImage>
              <div class="mt-4" *ngIf="imageUrl">
                <img
                  class="border border-gray-200 shadow rounded-md"
                  [src]="imageUrl"
                  alt="アップロード画像" />
                <div class="flex flex-row items-center mt-2">
                  <p>{{ fileName }}</p>
                  <app-icon
                    class="w-6 cursor-pointer ml-2 fill-red-500"
                    icon="delete-bin-line"
                    (click)="handleClickDeleteIcon()">
                  </app-icon>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="grow">
          <div
            class="p-6 border-t border-r border-l border-t-gray-200 border-r-gray-200 border-l-gray-200 shadow">
            <div class="flex flex-row gap-4">
              <app-select-container
                class="w-1/4"
                [formCtrl]="employeeAddForm.controls.status_division_id"
                [options]="statusDivisionOptions"
                nameAttrValue="status_division_id"
                idAttrValue="status-division-id"
                [invalid]="
                  formControlStateManager(
                    employeeAddForm.controls.status_division_id
                  )
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2">{{
                    logicalNames.status_division_id
                  }}</span>
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.status_division_id
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.status_division_id.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.status_division_id.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                </div>
              </app-select-container>
              <app-select-container
                class="w-1/4"
                [formCtrl]="employeeAddForm.controls.role_id"
                [options]="roleOptions"
                nameAttrValue="role_id"
                idAttrValue="role-id"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.role_id)
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2">{{
                    logicalNames.role_id
                  }}</span>
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(employeeAddForm.controls.role_id)
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.role_id.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.role_id.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                </div>
              </app-select-container>
              <app-select-container
                class="w-1/4"
                [formCtrl]="employeeAddForm.controls.store_id"
                [options]="storeOptions"
                nameAttrValue="store_id"
                idAttrValue="store-id"
                [invalid]="formControlStateManager(employeeAddForm.controls.store_id) || employeeAddForm.controls.store_id.errors?.['notContains']">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2">{{
                    logicalNames.store_id
                  }}</span>
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1 text-sm"
                  *ngIf="
                    formControlStateManager(employeeAddForm.controls.store_id)
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.store_id.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.store_id.errors?.['notContains']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                </div>
              </app-select-container>
              <app-text-container
                class="w-1/4"
                inputType="text"
                nameAttrValue="code"
                idAttrValue="code"
                [formCtrl]="employeeAddForm.controls.code"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.code)
                ">
                <span class="inline-block mr-2">{{ logicalNames.code }}</span>
                <span
                  class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                  >必須</span
                >
                <div
                  class="mt-1 pl-1 text-sm"
                  *ngIf="formControlStateManager(employeeAddForm.controls.code)"
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.code.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.code.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.code.errors?.['pattern']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="numericLimitViolation">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
            <div class="mt-6 flex flex-row gap-4">
              <app-text-container
                class="w-1/2"
                inputType="text"
                nameAttrValue="last_name"
                idAttrValue="last-name"
                [formCtrl]="employeeAddForm.controls.last_name"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.last_name)
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2"
                    >{{ logicalNames.last_name }}（10文字以内）</span
                  >
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1 text-sm"
                  *ngIf="
                    formControlStateManager(employeeAddForm.controls.last_name)
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.last_name.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.last_name.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                </div>
              </app-text-container>
              <app-text-container
                class="w-1/2"
                inputType="text"
                nameAttrValue="first_name"
                idAttrValue="first-name"
                [formCtrl]="employeeAddForm.controls.first_name"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.first_name)
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2"
                    >{{ logicalNames.first_name }}（10文字以内）</span
                  >
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(employeeAddForm.controls.first_name)
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.first_name.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.first_name.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
            <div class="mt-6 flex flex-row gap-4">
              <app-text-container
                class="w-1/2"
                inputType="text"
                nameAttrValue="last_name_kana"
                idAttrValue="last-name-kana"
                [formCtrl]="employeeAddForm.controls.last_name_kana"
                [invalid]="
                  formControlStateManager(
                    employeeAddForm.controls.last_name_kana
                  )
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2"
                    >{{
                      logicalNames.last_name_kana
                    }}（全角カナ7文字以内）</span
                  >
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.last_name_kana
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.last_name_kana.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.last_name_kana.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.last_name_kana.errors?.['pattern']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="
                      fullWidthKatakanaRestrictionViolation
                    ">
                  </ng-container>
                </div>
              </app-text-container>
              <app-text-container
                class="w-1/2"
                inputType="text"
                nameAttrValue="first_name_kana"
                idAttrValue="first-name-kana"
                [formCtrl]="employeeAddForm.controls.first_name_kana"
                [invalid]="
                  formControlStateManager(
                    employeeAddForm.controls.first_name_kana
                  )
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2"
                    >{{
                      logicalNames.first_name_kana
                    }}（全角カナ7文字以内）</span
                  >
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.first_name_kana
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.first_name_kana.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.first_name_kana.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.first_name_kana.errors?.['pattern']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="
                      fullWidthKatakanaRestrictionViolation
                    ">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
            <div class="mt-6 flex flex-row gap-4">
              <app-text-container
                class="w-1/2"
                inputType="mail"
                nameAttrValue="mail"
                idAttrValue="mail"
                [formCtrl]="employeeAddForm.controls.mail"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.mail)
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2">{{ logicalNames.mail }}</span>
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="formControlStateManager(employeeAddForm.controls.mail)"
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.mail.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.mail.errors?.['email']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="emailFormatViolation">
                  </ng-container>
                </div>
              </app-text-container>
              <app-text-container
                class="w-1/2"
                inputType="text"
                nameAttrValue="tel"
                idAttrValue="tel"
                [formCtrl]="employeeAddForm.controls.tel"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.tel)
                ">
                {{ logicalNames.tel }}（半角数字10~14文字）
                <div
                  class="mt-1 pl-1"
                  *ngIf="formControlStateManager(employeeAddForm.controls.tel)"
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.tel.errors?.['minlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMinLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.tel.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.tel.errors?.['pattern']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="numericLimitViolation">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
            <div class="mt-6 flex flex-row gap-4">
              <app-text-container
                class="w-1/2"
                inputType="password"
                nameAttrValue="password"
                idAttrValue="password"
                [formCtrl]="
                  employeeAddForm.controls.passwordGroup.controls.password
                "
                [invalid]="
                  formControlStateManager(
                    employeeAddForm.controls.passwordGroup.controls.password
                  )
                ">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2">{{
                    logicalNames.password
                  }}</span>
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.passwordGroup.controls.password
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.passwordGroup.controls.password.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.passwordGroup.controls.password.errors?.['minlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMinLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.passwordGroup.controls.password.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.passwordGroup.controls.password.errors?.['pattern']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="passwordViolation">
                  </ng-container>
                </div>
              </app-text-container>
              <app-text-container
                class="w-1/2"
                inputType="password"
                nameAttrValue="confirm_password"
                idAttrValue="confirm_password"
                [formCtrl]="
                  employeeAddForm.controls.passwordGroup.controls
                    .confirm_password
                "
                [invalid]="formControlStateManager(employeeAddForm.controls.passwordGroup.controls.confirm_password) || employeeAddForm.controls.passwordGroup.errors?.['isPasswordSame']">
                <div class="flex flex-row items-center">
                  <span class="inline-block mr-2"
                    >ログイン用パスワード（確認）</span
                  >
                  <span
                    class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full"
                    >必須</span
                  >
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.passwordGroup.controls
                        .confirm_password
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.passwordGroup.controls.confirm_password.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="employeeAddForm.controls.passwordGroup.errors?.['isPasswordSame']"
                  message>
                  <ng-container
                    *ngTemplateOutlet="em; context: passwordMatchViolation">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
            <p class="mt-1 pl-1 text-sm text-primary">
              ※
              半角英数8~24文字（大文字・小文字・数字をそれぞれ1文字ずつ含む必要があります）
            </p>
            <div class="mt-6 flex flex-row gap-4">
              <app-text-container
                class="w-1/2"
                inputType="password"
                nameAttrValue="pos_password"
                idAttrValue="pos-password"
                [formCtrl]="
                  employeeAddForm.controls.posPasswordGroup.controls
                    .pos_password
                "
                [invalid]="
                  formControlStateManager(
                    employeeAddForm.controls.posPasswordGroup.controls
                      .pos_password
                  )
                ">
                {{ logicalNames.pos_password }}
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.posPasswordGroup.controls
                        .pos_password
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.posPasswordGroup.controls.pos_password.errors?.['minlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMinLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.posPasswordGroup.controls.pos_password.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.posPasswordGroup.controls.pos_password.errors?.['pattern']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="numericLimitViolation">
                  </ng-container>
                </div>
              </app-text-container>
              <app-text-container
                class="w-1/2"
                inputType="password"
                nameAttrValue="confirm_pos_password"
                idAttrValue="confirm-pos-password"
                [formCtrl]="
                  employeeAddForm.controls.posPasswordGroup.controls
                    .confirm_pos_password
                "
                [invalid]="formControlStateManager(employeeAddForm.controls.posPasswordGroup.controls.confirm_pos_password) || employeeAddForm.controls.posPasswordGroup.errors?.['isRequired'] || employeeAddForm.controls.posPasswordGroup.errors?.['isPasswordSame']">
                POS用パスワード（確認用）
                <div
                  class="mt-1 pl-1"
                  *ngIf="employeeAddForm.controls.posPasswordGroup.errors?.['isRequired']"
                  message>
                  <ng-container
                    *ngTemplateOutlet="em; context: opponentEnteredRequireItem">
                  </ng-container>
                </div>
                <div
                  class="mt-1 pl-1"
                  *ngIf="employeeAddForm.controls.posPasswordGroup.errors?.['isPasswordSame']"
                  message>
                  <ng-container
                    *ngTemplateOutlet="em; context: passwordMatchViolation">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
            <p class="mt-1 pl-1 text-sm text-primary">※ 半角数字4~7文字</p>
            <div class="mt-6 flex flex-row gap-4">
              <app-text-container
                class="w-1/2"
                inputType="number"
                nameAttrValue="barcode"
                idAttrValue="barcode"
                [formCtrl]="employeeAddForm.controls.barcode"
                [invalid]="
                  formControlStateManager(employeeAddForm.controls.barcode)
                ">
                <span class="inline-block mr-2">{{
                  logicalNames.barcode
                }}</span>
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(employeeAddForm.controls.barcode)
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.barcode.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.barcode.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                  </ng-container>
                </div>
              </app-text-container>
              <app-text-container
                class="w-1/2"
                inputType="number"
                nameAttrValue="max_discount_rate"
                idAttrValue="max_discount_rate"
                [formCtrl]="employeeAddForm.controls.max_discount_rate"
                [invalid]="
                  formControlStateManager(
                    employeeAddForm.controls.max_discount_rate
                  )
                ">
                {{ logicalNames.max_discount_rate }}
                <div
                  class="mt-1 pl-1"
                  *ngIf="
                    formControlStateManager(
                      employeeAddForm.controls.max_discount_rate
                    )
                  "
                  message>
                  <ng-container
                    *ngIf="employeeAddForm.controls.max_discount_rate.errors?.['required']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                  <ng-container
                    *ngIf="employeeAddForm.controls.max_discount_rate.errors?.['maxlength']"
                    [ngTemplateOutlet]="em"
                    [ngTemplateOutletContext]="requiredItem">
                  </ng-container>
                </div>
              </app-text-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="width-limit-break bg-primary-light flex flex-row justify-center bottom-[40px] left-0 right-0 p-2 fixed gap-8">
      <app-button (click)="onClickReset()">クリア</app-button>
      <app-button
        btnType="submit"
        btnFillColor="bg-success"
        btnHoverColor="hover:bg-success-hover"
        btnTextColor="text-white"
        btnLineColor="border-success"
        [buttonDisabled]="employeeAddForm.invalid || employeeAddForm.pristine"
        >保存</app-button
      >
    </div>
  </form>
</main>

<!-- エラーメッセージテンプレート -->
<ng-template #em let-content="message">
  <p class="text-sm text-red">
    {{ content }}
  </p>
</ng-template>
