<!-- パン屑リスト -->
<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/employee/list', text: '社員一覧' },
    { text: '社員一括登録' }
  ]"></app-breadcrumb-org>
<main>
  <!-- ヘッダー部 -->
  <h1 class="mt-8 text-xl">社員一括登録</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <!-- キャンセルボタン -->
    <div (click)="handleClickCancel()" class="cursor-pointer">
      <app-icon-container
        icon="close-line"
        appendClassForIcon="fill-danger group-hover:fill-danger-hover">
        <p class="text-gray-900 group-hover:text-danger-hover">キャンセル</p>
      </app-icon-container>
    </div>
    <!-- 登録者 -->
    <div>
      <app-last-updater-org
        [roleTypeName]="
          author && author.role_name ? author.role_name : 'データ取得中...'
        ">
        登録者：{{
          author
            ? author.last_name + ' ' + author.first_name
            : 'データ取得中...'
        }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <div class="flex justify-end mt-8">
    <!-- テンプレートダウウンロードボタン -->
    <app-template-download-link-org
      class="flex justify-end mt-8"
      [api$]="template$"
      [fileNamePrefix]="fileNamePrefix"
      (statusChange)="listenStateChange($event)">
    </app-template-download-link-org>
  </div>

  <form
    [formGroup]="employeeBulkAddForm"
    (ngSubmit)="handleClickUploadButton()">
    <div class="mt-2 mb-28 py-8 px-6 bg-white shadow border border-gray-300">
      <p class="text-lg mb-4">CSVファイルのヘッダーと値</p>
      <!-- CSVファイルの説明 -->
      <ul class="mb-8">
        <li
          *ngFor="let item of descriptions"
          class="flex border border-b-0 last:border-b border-slate-400">
          <div class="flex items-center w-[330px] bg-slate-100 p-4">
            {{ item.title }}
            <span
              *ngIf="item.required"
              class="px-3 py-0.5 ml-2 text-xs text-white bg-warning-dark rounded-full">
              必須
            </span>
          </div>
          <div class="grow p-4">{{ item.description }}</div>
        </li>
      </ul>
      <!-- 各種ボタン -->
      <div class="flex justify-between mb-2">
        <div class="flex items-center">
          <app-file
            [formCtrl]="employeeBulkAddForm.controls.file"
            text="ファイル選択"
            accept="text/csv">
          </app-file>
          <ng-container *ngIf="fileName">
            <div class="flex flex-row items-center">
              <p>{{ fileName }}</p>
              <app-icon
                class="w-6 cursor-pointer ml-2 fill-red-500"
                icon="delete-bin-line"
                (click)="handleClickDeleteIcon()">
              </app-icon>
            </div>
          </ng-container>
        </div>
        <app-button
          btnType="submit"
          btnFillColor="bg-success"
          btnHoverColor="hover:bg-success-hover"
          btnTextColor="text-white"
          btnLineColor="border-success"
          [buttonDisabled]="employeeBulkAddForm.invalid || !isUploadable">
          アップロード実行
        </app-button>
      </div>
    </div>
  </form>
</main>
