<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/setting', text: '設定一覧' },
    { path: '/setting/custom-large-category', text: 'カスタム大分類一覧' },
    { text: 'カスタム大分類詳細' }
  ]"></app-breadcrumb-org>
<main class="mb-20">
  <h1 class="mt-8 text-xl">カスタム大分類詳細</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-6">
      <app-back-to-link-org path="/setting/custom-large-category"
        >一覧へ戻る</app-back-to-link-org
      >
      <app-edit-link-org [path]="editPath"></app-edit-link-org>
      <div (click)="handleClickDelete()" class="cursor-pointer">
        <app-delete-link-org></app-delete-link-org>
      </div>
    </div>
    <div>
      <app-last-updater-org>
        最終更新者：{{ updater ? updater : 'データ取得中...' }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <div
    *ngIf="!common.loading"
    class="mt-8 py-8 px-6 bg-white shadow border border-gray-300">
    <div class="flex flex-row justify-between">
      <h2 class="text-lg">
        {{ clc ? clc.name : 'データ取得中...' }}
      </h2>
      <a
        *ngIf="clc"
        [routerLink]="cmcPath"
        [queryParams]="{ id: selectedId, name: clc.name }"
        class="cursor-pointer">
        <div class="flex flex-row gap-2 group">
          <p class="group-hover:text-primary-hover">
            関連するカスタム中分類一覧へ
          </p>
          <app-icon
            class="w-6 fill-primary-light group-hover:fill-primary-light-hover"
            icon="arrow-right-line">
          </app-icon>
        </div>
      </a>
    </div>
    <hr class="border-t-primary-light-hover border-t-4" />
    <div class="mt-6 flex flex-row gap-10">
      <div class="grow">
        <ul
          class="border-t border-r border-l border-t-gray-200 border-r-gray-200 border-l-gray-200 shadow">
          <li class="flex flex-row items-center border-b border-b-gray-200">
            <div class="px-2 py-3 bg-slate-100 min-w-[200px]">
              カスタム大分類名
            </div>
            <div class="px-2 py-3 border-l border-l-gray-200 grow">
              {{ clc ? clc.name : ' ' }}
            </div>
          </li>
          <li class="flex flex-row items-center border-b border-b-gray-200">
            <div class="px-2 py-3 bg-slate-100 min-w-[200px]">登録日時</div>
            <div class="px-2 py-3 border-l border-l-gray-200 grow">
              {{ clc ? clc.created_at : ' ' }}
            </div>
          </li>
          <li class="flex flex-row items-center border-b border-b-gray-200">
            <div class="px-2 py-3 bg-slate-100 min-w-[200px]">登録者</div>
            <div class="px-2 py-3 border-l border-l-gray-200 grow">
              {{ add_user ? add_user : '' }}
            </div>
          </li>
          <li class="flex flex-row items-center border-b border-b-gray-200">
            <div class="px-2 py-3 bg-slate-100 min-w-[200px]">更新日時</div>
            <div class="px-2 py-3 border-l border-l-gray-200 grow">
              {{ clc ? clc.updated_at : ' ' }}
            </div>
          </li>
          <li class="flex flex-row items-center border-b border-b-gray-200">
            <div class="px-2 py-3 bg-slate-100 min-w-[200px]">更新者</div>
            <div class="px-2 py-3 border-l border-l-gray-200 grow">
              {{ updater ? updater : ' ' }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
