<!-- ↓ パンくずリスト ↓ -->
<app-breadcrumb-org
  [breadcrumbList]="[
    { path: settingMenuPath, text: '設定一覧' },
    { path: listPagePath, text: '価格変更一覧' },
    { text: '価格変更新規登録' }
  ]">
</app-breadcrumb-org>

<!-- ↓ ヘッダ・メニュー部 ↓ -->
<h2 class="mt-8 text-xl">販売価格一括登録</h2>
<div class="mt-6 mb-2 flex flex-row items-center justify-between">
  <app-cancel-link-org routerLink="../"></app-cancel-link-org>
  <ng-container *ngIf="author && updater">
    <app-last-updater-org [roleTypeName]="author.role_name">
      登録者：{{ updater }}
    </app-last-updater-org>
  </ng-container>
</div>

<hr class="width-limit-break border-t border-gray-400" />

<!-- ↓ テンプレートダウンロードボタン ↓ -->
<app-template-download-link-org
  class="flex justify-end mt-8"
  [api$]="template$"
  [fileNamePrefix]="fileNamePrefix"
  (statusChange)="common.loading = !!$event">
</app-template-download-link-org>

<!-- ↓ ボディ部 ↓ -->
<div class="mt-2 mb-28 py-8 px-6 bg-white shadow border border-slate-300">
  <p class="text-lg">CSVファイルのヘッダーと値</p>
  <hr class="border-t-primary-light-hover border-t-4 mb-2" />
  <p class="text-sm mb-4">必須項目がないレコードは無視されます。</p>
  <!-- ↓ CSVファイルの説明 ↓ -->
  <ul class="mb-8">
    <li
      *ngFor="let item of descriptions; first as isFirst"
      class="flex border border-b-0 last:border-b border-slate-300">
      <ng-container *ngIf="isFirst; else contents">
        <div class="flex items-center w-1/3 bg-iron-blue-300 p-4">
          {{ item.title }}
        </div>
        <div class="grow bg-iron-blue-300 border-l border-l-slate-300 p-4">
          {{ item.description }}
        </div>
      </ng-container>
      <ng-template #contents>
        <div class="flex items-center w-1/3 bg-slate-100 p-4">
          {{ item.title }}
          <span
            *ngIf="item.required"
            class="px-3 py-0.5 ml-2 text-xs text-white bg-warning-dark rounded-full">
            必須
          </span>
        </div>
        <div class="grow p-4">{{ item.description }}</div>
      </ng-template>
    </li>
  </ul>

  <!-- ↓ 各種ボタン ↓ -->
  <div class="flex justify-between mb-2">
    <div class="flex items-center">
      <app-file [formCtrl]="ctrl" accept="text/csv"></app-file>
      <ng-container *ngIf="ctrl.value">
        <p class="ml-4">{{ filename }}</p>
        <app-icon
          class="w-6 cursor-pointer ml-2 fill-red-500"
          icon="delete-bin-line"
          (click)="ctrl.reset()">
        </app-icon>
      </ng-container>
    </div>

    <app-button
      btnFillColor="bg-success hover:bg-success-hover border-success text-white"
      [buttonDisabled]="ctrl.invalid"
      (click)="onClickUpload()">
      アップロード実行
    </app-button>
  </div>
</div>
