<!-- パン屑 -->
<app-breadcrumb-org
  [breadcrumbList]="[
    { path: '/setting/', text: '設定一覧' },
    { path: gift4ListPath, text: 'ギフト4一覧' },
    { path: gift4DetailPath, text: 'ギフト4詳細' },
    { text: 'ギフト4編集' }
  ]">
</app-breadcrumb-org>
<!-- ヘッダー的なところ -->
<main class="mb-20">
  <h1 class="mt-8 text-xl">ギフト4編集</h1>
  <div class="mt-6 mb-2 flex flex-row items-center justify-between">
    <div (click)="handleClickCancel()" class="crsor-pointer">
      <app-cancel-link-org></app-cancel-link-org>
    </div>
    <div>
      <app-last-updater-org>
        最終更新者：{{
          common.loading ? 'データ取得中...' : lastUpdaterFullName
        }}
      </app-last-updater-org>
    </div>
  </div>
  <hr class="width-limit-break border-t border-gray-400" />
  <!-- 入力フォーム -->
  <ng-container *ngIf="!common.loading">
    <form [formGroup]="gift4EditForm" (ngSubmit)="handleClickSaveButton()">
      <div
        class="mt-8 mb-24 pt-8 pb-20 px-6 bg-white shadow border border-gray-300">
        <h2 class="text-lg">ギフト４名称入力</h2>
        <hr class="border-t-primary-loight-hover border-t-4" />
        <div class="mt-6 flex flex-row gap-10">
          <div class="grow">
            <div
              class="p-6 border-t border-r border-l border-t-gray-200 border-r-gray-200 border-l-gray-200 shadow">
              <div class="flex flex-row gap-4">
                <!-- ギフト4名 -->
                <app-text-container
                  class="w-1/2"
                  inputType="text"
                  nameAttrValue="name"
                  idAttrValue="name"
                  [formCtrl]="gift4EditForm.controls.name"
                  [invalid]="isInvalid(gift4EditForm.controls.name)">
                  <div class="flex flex-row items-center">
                    <span class="inline-block mr-2">
                      ギフト4名（10文字以内）
                    </span>
                    <span
                      class="px-3 py-0.5 text-xs text-white bg-warning-dark rounded-full">
                      必須
                    </span>
                  </div>
                  <div
                    class="mt-1 pl-1 text-sm"
                    *ngIf="isInvalid(gift4EditForm.controls.name)"
                    message>
                    <ng-container
                      *ngIf="gift4EditForm.controls.name.errors?.['required']"
                      [ngTemplateOutlet]="errorMessage"
                      [ngTemplateOutletContext]="requiredItem">
                    </ng-container>
                    <ng-container
                      *ngIf="gift4EditForm.controls.name.errors?.['maxlength']"
                      [ngTemplateOutlet]="errorMessage"
                      [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                    </ng-container>
                  </div>
                </app-text-container>
                <!-- ギフト4名カナ -->
                <app-text-container
                  class="w-1/2"
                  inputType="text"
                  nameAttrValue="furi"
                  idAttrValue="furi"
                  [formCtrl]="gift4EditForm.controls.furi"
                  [invalid]="isInvalid(gift4EditForm.controls.furi)">
                  <div class="flex flex-row items-center">
                    <span class="inline-block mr-2">
                      ギフト4名カナ（全角カナ7文字以内）
                    </span>
                  </div>
                  <div
                    class="mt-1 pl-1 text-sm"
                    *ngIf="isInvalid(gift4EditForm.controls.furi)"
                    message>
                    <ng-container
                      *ngIf="gift4EditForm.controls.furi.errors?.['maxlength']"
                      [ngTemplateOutlet]="errorMessage"
                      [ngTemplateOutletContext]="exceededCharacterMaxLimit">
                    </ng-container>
                    <ng-container
                      *ngIf="gift4EditForm.controls.furi.errors?.['pattern']"
                      [ngTemplateOutlet]="errorMessage"
                      [ngTemplateOutletContext]="
                        fullWidthKatakanaRestrictionViolation
                      ">
                    </ng-container>
                  </div>
                </app-text-container>
              </div>
            </div>
          </div>
        </div>
        <!-- 保存・クリアボタンs -->
        <div
          class="width-limit-break bg-primary-light flex flex-row justify-center bottom-[40px] left-0 right-0 p-2 fixed gap-8">
          <app-button btnType="button" (click)="handleClickClearButton()">
            クリア
          </app-button>
          <app-button
            btnType="submit"
            btnFillColor="bg-success"
            btnHoverColor="hover:bg-success-hover"
            btnTextColor="text-white"
            btnLineColor="border-success"
            [buttonDisabled]="gift4EditForm.invalid || IsFormNotChanged"
            >保存
          </app-button>
        </div>
      </div>
    </form>
  </ng-container>
</main>

<!-- エラーメッセージテンプレート -->
<ng-template #errorMessage let-content="message">
  <p class="text-sm text-red">
    {{ content }}
  </p>
</ng-template>
